@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbarbutton.sage_button {
	list-style-image: url("chrome://sage/skin/toolbar.png") !important;
	-moz-binding: url("chrome://sage/skin/sage.xbl#toolbarbutton");
}

toolbarbutton.sage_button2 > .toolbarbutton-text {
	display: none !important;
}

#checkFeeds {
	-moz-image-region: rect(0px 26px 24px 0px) !important;
}

#checkFeeds[buttondown="true"] {
	-moz-image-region: rect(24px 26px 48px 0px) !important;
}

#checkFeeds[disabled="true"] {
	-moz-image-region: rect(48px 26px 72px 0px) !important;
}

#discoverFeeds {
	-moz-image-region: rect(0px 52px 24px 26px) !important;
}

#discoverFeeds[buttondown="true"] {
	-moz-image-region: rect(24px 52px 48px 26px) !important;
}

#discoverFeeds[disabled="true"] {
	-moz-image-region: rect(48px 52px 72px 26px) !important;
}

#bookmarksTree {
  -moz-binding: url("chrome://sage/content/bookmarksTree.xml#bookmarks-tree-name");
}

treechildren::-moz-tree-image(rss, updated) {
  -moz-image-region: auto !important;
  list-style-image: url("chrome://sage/skin/icon/updated.png") !important;
}
treechildren::-moz-tree-image(rss, no-updated),
treechildren::-moz-tree-image(rss, no-check) {
  -moz-image-region: auto !important;
  list-style-image: url("chrome://sage/skin/icon/no-updated.png") !important;
}
treechildren::-moz-tree-image(rss, unknown) {
  -moz-image-region: auto !important;
  list-style-image: url("chrome://sage/skin/icon/unknown.png") !important;
}
treechildren::-moz-tree-image(rss, error) {
  -moz-image-region: auto !important;
  list-style-image: url("chrome://sage/skin/icon/error.gif") !important;
}
treechildren::-moz-tree-cell-text(rss, updated) {
  font-weight: bold !important;
}

#bookmarksTreeBox,
#rssItemListBoxBox {
  min-height: 90px;
}

#rssItemListBox > listitem {
	font-weight:  bold;
}

#rssItemListBox > listitem[visited="true"] {
  font-weight:  normal;
}

#sage-splitter {
  border: none;
  border-bottom: 1px solid ThreeDLightShadow;
}

#rssStatusImage {
  margin-left: 4px;
  width: 16px;
  height: 16px;
}
#rssStatusImage[loading="true"] {
  list-style-image: url("chrome://sage/skin/icon/checking.gif");
}
#rssStatusImage[loading="error"] {
  list-style-image: url("chrome://sage/skin/icon/error.gif");
}

#rssTitleLabel[href]:hover{
  text-decoration: underline;
  cursor: pointer;
}


/* ++++++++++ List Tool Bar ++++++++++++ */

toolbarbutton#markAsReadButton,
toolbarbutton#markAsUnreadButton,
toolbarbutton#markAllAsReadButton,
toolbarbutton#markAllAsUnreadButton {
	list-style-image: url("chrome://sage/skin/toolbar-small.png") !important;
}

#markAsReadButton {
	-moz-image-region: rect(0px 80px 16px 64px) !important;
}

#markAsReadButton:hover {
	-moz-image-region: rect(16px 80px 32px 64px) !important;
}

#markAsReadButton[disabled="true"] {
	-moz-image-region: rect(32px 80px 48px 64px) !important;
}

#markAsUnreadButton {
	-moz-image-region: rect(0px 96px 16px 80px) !important;
}

#markAsUnreadButton:hover {
	-moz-image-region: rect(16px 96px 32px 80px) !important;
}

#markAsUnreadButton[disabled="true"] {
	-moz-image-region: rect(32px 96px 48px 80px) !important;
}

#markAllAsReadButton {
	-moz-image-region: rect(0px 48px 16px 32px) !important;
}

#markAllAsReadButton:hover {
	-moz-image-region: rect(16px 48px 32px 32px) !important;
}

#markAllAsReadButton[disabled="true"] {
	-moz-image-region: rect(32px 48px 48px 32px) !important;
}

#markAllAsUnreadButton {
	-moz-image-region: rect(0px 64px 16px 48px) !important;
}

#markAllAsUnreadButton:hover {
	-moz-image-region: rect(16px 64px 32px 48px) !important;
}

#markAllAsUnreadButton[disabled="true"] {
	-moz-image-region: rect(32px 64px 48px 48px) !important;
}


/* ++++++++++ Search ++++++++++ */
#barSearch {
  padding-bottom: 2px;
}

#imgSearchEngine {
  width: 16px;
  height: 16px;
}

#btnSearchSubmit {
  -moz-appearance: none;
  margin: 2px 2px 2px 0px;
  min-width: 0px;
  min-height: 0px;
  list-style-image: url("chrome://sage/skin/icon/search-submit.gif");
}

/* ++++++++++ popupEX ++++++++++ */

#rssItemToolTip {
  -moz-binding: url(chrome://sage/content/popupex.xml#popupex);
  padding: 0px !important;
}

.popupex-title {
  font-weight: bold;
  margin: 0px !important;
  padding: 3px !important;
}

.popupex-description {
  padding: 5px 5px 5px 20px !important;
  max-width: 26em;
}

.popupex-internal-box {
  margin: 2px;
  padding: 2px;
}
